
{% macro list2(a, s) %}
{% if a.is_available %}
<b>{{ s }}: </b>    
<table id='details' width=100%>
<tr><th>Source:</th><th>Patient Location:</th><th>Probability of Survival</th><th>Median Survival</th><th>Notes</th></tr>
    {% for i in a.papers %}
        <tr>
            <td>{{i.cite}}</td>
            <td>{{i.location}}</td>
            {% if i.prob %}
                <td>{{i.prob}}</td>
            {% else %}
                <td>-</td>
            {% endif %}
            <td>{{i.median}}</td>
            <td>{{i.notes}}</td>
        </tr>
    {% endfor %}
</table><br>  
{% endif %}
{% endmacro %}


{% macro notavailable(a, s) %}
{% if not a.is_available %}
    Insufficient input for {{ s }}<br> 
{% endif %}
{% endmacro %}


{% macro general_list(a, s) %}
    {% if a.is_available %}
        <tr>
            <td><b>{{ s }}</b></td>
            <td>{{ a.score }}</td>
            <td>{{ a.s_prob }}</td>
            <td>{{ a.s_median_range }}</td>
            <td>{{ a.communicate }}</td>
        </tr>
    {% endif %}
    
{% endmacro %}
    
        
      
