<!doctype html>
<style>
table#t1 {
    border: 1px solid black;
    font-size:12px;
    border-collapse: collapse;
}

#t1 td {
    border: 1px solid black;
    border-collapse: collapse;
}

#t1 th {
    border: 1px solid black;
    border-collapse: collapse;
}

p#p01 {
    font-size:13px;
}
</style>

<title>Calculating Impending Death</title>
<div style='font-size:24px'><b>How Likely Will This Patient Die in the Next 72 Hours?</b></div>
<div style="color:red"><b>For metastatic cancer patients presenting to an acute palliative care unit. Unlikely to be valid in other clinical scenarios!</b></div><br>

<div style='font-size:14px'><b>First, using the table below and to the left, find the Palliative Perfomance Score (PPS) for the patient.</b><br>
Start at the 'Ambulation' column and find the patient's mobility. From there read left to right, bumping up or down deciles if needed. Stronger performance factors are located on the left. Judgement is required when all aspects don't lie in the same decile. Err towards the stronger, leftward ones. [1]<br><br></div>

<form method='POST' action='/recursive'>
<table id="t1", style="width:100%">
    <tr>
        <th>PPS %</th>
        <th>Ambulation</th>
        <th>Activity and Evidence of Disease</th>
        <th>Self-Care</th>
        <th>Intake</th>
        <th>Conscious Level</th></tr>
    <tr>
        <td>100</td>
        <td>Full</td>
        <td>Normal Activity, No Evidence of Disease</td>
        <td>Full</td>
        <td>Normal</td>
        <td>Full</td></tr>
    <tr>
        <td>90</td>
        <td>Full</td>
        <td>Normal Activity, Some Evidence of Disease</td>
        <td>Full</td>
        <td>Normal</td>
        <td>Full</td></tr>
    <tr>
        <td>80</td><td>Full</td><td>Normal Activity with Effort, Some Evidence of Disease</td><td>Full</td><td>Normal or Reduced</td><td>Full</td></tr>
    <tr>
        <td>70</td><td>Reduced</td><td>Unable Normal Job/Work, Some Evidence of Disease</td><td>Full</td><td>Normal or Reduced</td><td>Full</td></tr>
    <tr>
        <td>60</td><td>Reduced</td><td>Unable Hobby/House Work, Significant Disease</td><td>Occasional Assistance Necessary</td><td>Normal or Reduced</td><td>Full or Confusion</td></tr>
    <tr>
        <td>50</td><td>Mainly Sit/Lie</td><td>Unable to Do Any Work, Extensive Disease</td><td>Considerable Assistance Necessary</td><td>Normal or Reduced</td><td>Full or Confusion</td></tr>
    <tr>
        <td>40</td><td>Mainly in Bed</td><td>As Above</td><td>Mainly Assistance</td><td>Normal or Reduced</td><td>Full or Drowsy or Confusion</td></tr>
    <tr>
        <td>30</td><td>Totally Bed Bound</td><td>As Above</td><td>Total Care</td><td>Reduced</td><td>Full or Drowsy or Confusion</td></tr>
    <tr>
        <td>20</td><td>As Above</td><td>As Above</td><td>As Above</td><td>Minimal Sips</td><td>Full or Drowsy or Confusion</td></tr>
    <tr>
        <td>10</td><td>As Above</td><td>As Above</td><td>As Above</td><td>Mouth Care Only</td><td>Drowsy or Coma</td></tr>
    <tr>
        <td>0</td><td>Death</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    </table>
    <br>

    {{ form.hidden_tag }}
    <b>{{ form.PPS.label }}</b> {{ form.PPS }}<br><br>


    <div style='font-size:14px'><b>Now, for each of the following signs, check the box if it is present in the patient</b> (If unfamiliar scroll below for some explanations).<br>
    <table>
    <tr><th> </th><th><b>Present?</th><th> </th><th>Present?</th><th> </th><th>Present?</th></b></tr>
    <tr>
    <td>{{ form.nasolabial_field.label }}</td><td>{{ form.nasolabial_field }}</td></tr>
    <tr><td>{{ form.death_rattle.label }}</td><td> {{ form.death_rattle }}</td><td>{{ form.pulseless_radial.label }}</td><td> {{ form.pulseless_radial }}</td><td>{{ form.mandibular.label }}</td><td> {{ form.mandibular }}</td></tr>
    <tr>
    <td>{{ form.cheyne_stokes.label }}</td><td> {{ form.cheyne_stokes }}</td><td>{{ form.nr_pupils.label }}</td><td> {{ form.nr_pupils }}</td><td>{{ form.decreased_verbal.label }}</td><td> {{ form.decreased_verbal }}</td></tr>
    <tr>
    <td>{{ form.decreased_visual.label }}</td><td> {{ form.decreased_visual }}</td><td>{{ form.eyelids.label }}</td><td> {{ form.eyelids }}</td><td>{{ form.hyper_neck.label }}</td><td> {{ form.hyper_neck }}</td></tr>
    <tr>
    <td>{{ form.grunting.label }}</td><td> {{ form.grunting }}</td><td>{{ form.ugib.label }}</td><td> {{ form.ugib }}</td><td>{{ form.cyanosis.label }}</td><td> {{ form.cyanosis }}</td></tr>
    </table></div><br>
    <input type=submit value='   Calculate   '><br><br>
    <b><div style='font-size:18px'>{{ form.final_score_field.label }}</b>{{ form.final_score_field(size=4, value=post_test_prob) }}</div>

</form><br>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<hr>
<b>Further Information</b>
<p>The model was made by David Hui and others from the Investigating the Process of Dying study [2]. For more information about the clinical signs of impending death see [3] and [4] below.  I highly recommend reading them for the positive likelihood ratios of clinical signs.  Please note that this site is not endorsed or connected to them in any way. It's just something I'm doing for fun and should not be used in place of your own clinical judgement.</p>

<b>Definitions for signs that may be new:</b>
<ul>
<li>Drooping of Nasolabial Fold: These are the 'smile lines', that run from the nose to the corner of the mouth. Think of it as looking for relaxed facial muscle tone. See page 10 of [2] for an example.  Googling will mostly bring up its relation to cosmetic surgery.</li>
<li>Mandibular Breathing: See <a href="https://www.youtube.com/watch?v=S9sVQtb7R9c">this brief video</a> for a good overview.</li>
<li>Vocal Cord Grunting: "A sound produced predominantly on expiration, related to vibrations of the vocal cords."</li>
<li>Decreased Response to Visual Stimuli: No eye tracking movement.</li>
<li>Decreased Response to Verbal Stimuli: No verbal communication (noises don't count), unable to follow commands.</li>
<li>Unable to close eyelids: Unable to close when asked, eyes open without observed blinking.</li>
<li>The other signs are either self-explanatory or can be easily searched for online.</li>
</ul>
<b>Sources:</b><br>
<ul>
<li>[1]Fern Anderson, et al. 1996. <a href="https://www.researchgate.net/publication/14348689_Palliative_Performance_Scale_PPS_A_new_tool">Palliative Performance Scale (PPS): A New Tool.</a> Journal of Palliative Care, Feb 1; 12(1):5-11.</li>
<li>[2]David Hui, et al. 2015. <a href="https://www.ncbi.nlm.nih.gov/pubmed/26218612">A Diagnostic Model for Impending Death in Cancer Patients: Preliminary Report</a>. Cancer, Nov 1; 121(21): 3914-3921.</li>
<li>[3] David Hui, et al. 2015. <a href="https://www.ncbi.nlm.nih.gov/pubmed/25676895">Bedside clinical signs associated with impending death in patients with advanced cancer: preliminary findings of a prospective, longitudinal cohort study</a>. Cancer Mar 14; 121(6):960-7.</li>
<li>[4]David Hui, et al. 2014. <a href="https://www.ncbi.nlm.nih.gov/pubmed/24760709">Clinical signs of impending death in cancer patients</a>. Oncologist, June; 19(6):681-7.</li>
</ul>
<br>
Any questions, comments, etc... please email me at jpmax7 AT gmail dot com
