{% extends "layout.html" %}
{% block body %}

<br>
<b>PPS, KPS, ECOG Tables and Instructions</b><br><br>
<b>Palliative Perfomance Score (PPS)</b><sup>1</sup>

<table id="reference", style="width:100%">
    <tr>
        <th>PPS %</th>
        <th>Ambulation</th>
        <th>Activity and Evidence of Disease</th>
        <th>Self-Care</th>
        <th>Intake</th>
        <th>Conscious Level</th></tr>
    <tr>
        <td>100</td>
        <td>Full</td>
        <td>Normal Activity, No Evidence of Disease</td>
        <td>Full</td>
        <td>Normal</td>
        <td>Full</td></tr>
    <tr>
        <td>90</td>
        <td>Full</td>
        <td>Normal Activity, Some Evidence of Disease</td>
        <td>Full</td>
        <td>Normal</td>
        <td>Full</td></tr>
    <tr>
        <td>80</td>
        <td>Full</td>
        <td>Normal Activity with Effort, Some Evidence of Disease</td>
        <td>Full</td>
        <td>Normal or Reduced</td>
        <td>Full</td></tr>
    <tr>
        <td>70</td>
        <td>Reduced</td>
        <td>Unable Normal Job/Work, Some Evidence of Disease</td>
        <td>Full</td><td>Normal or Reduced</td>
        <td>Full</td></tr>
    <tr>
        <td>60</td>
        <td>Reduced</td>
        <td>Unable Hobby/House Work, Significant Disease</td>
        <td>Occasional Assistance Necessary</td>
        <td>Normal or Reduced</td>
        <td>Full or Confusion</td></tr>
    <tr>
        <td>50</td>
        <td>Mainly Sit/Lie</td>
        <td>Unable to Do Any Work, Extensive Disease</td>
        <td>Considerable Assistance Necessary</td>
        <td>Normal or Reduced</td>
        <td>Full or Confusion</td></tr>
    <tr>
        <td>40</td>
        <td>Mainly in Bed</td>
        <td>As Above</td>
        <td>Mainly Assistance</td>
        <td>Normal or Reduced</td>
        <td>Full, Drowsy or Confusion</td></tr>
    <tr>
        <td>30</td>
        <td>Totally Bed Bound</td>
        <td>As Above</td>
        <td>Total Care</td>
        <td>Reduced</td>
        <td>Full, Drowsy or Confusion</td></tr>
    <tr>
        <td>20</td>
        <td>As Above</td>
        <td>As Above</td>
        <td>As Above</td>
        <td>Minimal Sips</td>
        <td>Full, Drowsy or Confusion</td></tr>
    <tr>
        <td>10</td>
        <td>As Above</td>
        <td>As Above</td>
        <td>As Above</td>
        <td>Mouth Care Only</td>
        <td>Drowsy or Coma</td></tr>
    <tr>
        <td>0</td>
        <td>Death</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
</table><br>
<b>PPS Instructions: </b>Starting at the 'Ambulation' column, find the decile that best fits the patient. Stronger performance factors are located on the left and if the patient doesn't fit all in one decile give preference to the ones that are leftmost. Self care is defined as things like being able to do mouth care, shave, bathe, etc...<br><br>

<b>Karnofsky Performance Status</b><sup>2</sup>
<table id="reference">
    <tr>
        <th>KPS %</th>
        <th>Description</th>

    <tr>
        <td>100</td>
        <td>Normal, no complaints. No evidence of disease.</td></tr>
   <tr>
        <td>90</td>
        <td>Able to carry on normal activity, minor signs or symptoms of disease.</td></tr>
    <tr>
        <td>80</td>
        <td>Normal activity with effort, some signs or symptoms of disease.</td></tr>
    <tr>
        <td>70</td>
        <td>Cares for self, unable to carry on normal activity or to do active work.</td></tr>
    <tr>
        <td>60</td>
        <td>Requires occasional assistance, but is able to care for most of his/her personal needs.</td></tr>
    <tr>
        <td>50</td>
        <td>Requires occasional assitance, but is able to care for most of his/her personal needs.</td></tr>
    <tr>
        <td>40</td>
        <td>Disabled. Requires special care and assistance.</td></tr>
    <tr>
        <td>30</td>
        <td>Severely disabled, hospital admission is indicated although death is not imminent.</td></tr>
    <tr>
        <td>20</td>
        <td>Very sick, hospital admission necessary. Active support treatment necessary.</td></tr>
    <tr>
        <td>10</td>
        <td>Moribund, fatal processes progressing rapidly</td></tr>
    <tr>
        <td>0</td>
        <td>Death</td></tr>
</table><br>

<b>ECOG</b><sup>3</sup>
<table id="reference", style="width:100%">
<tr>
    <th>Score</th>
    <th>Description</th></tr>
<tr>
    <td>0</td>
    <td>Asymptomatic. Fully active, able to carry on all pre-disease activities without restriction.</td></tr>
<tr>
    <td>1</td>
    <td>Restricted in physically strenuous activity but ambulatory and able to carry out work of a light or sedentary nature (e.g. light house work, office work).</td></tr>
<tr>
    <td>2</td>
    <td>Ambulatory and capable of all selfcare but unable to carry out any work activities. Up and about more than 50% of waking hours.</td></tr>
<tr>
    <td>3</td>
    <td>Capable of only limited selfcare, confined to bed or chair more than 50% of waking hours.</td></tr>
<tr>
    <td>4</td>
    <td>Completely disabled. Cannot carry on any selfcare. Totally confined to bed or chair</td></tr>
<tr>
    <td>5</td>
    <td>Death</td></tr>
</table>

<hr>
<b>Sources:</b>
<ol>
<li>Anderson, F, Downing, GM, Hill, J, Casorso, L, Lerch, N,: Palliative Performance Scale (PPS): A New Tool.  J Palliative Care. 1996;12(1):5-11. </li>
<li>Karnofsky, DA, Abelmann, WH, Craver, LF, Burchenal, JH,: The Use of the Nitrogen Mustards in the Palliative Treatment of Carcinoma, With Particular Reference to Bronchogenic Carcinoma. Cancer. 1948;1(4):634-656. </li>
<li>Oken, MM, Creech, RH, Tormey, DC, Horton, J, Davis, TE, McFadden, ET, Carbone, PP: Toxicity And Response Criteria Of The Eastern Cooperative Oncology Group. Am J Clin Oncol. 1982;5:649-655.</li>
</ol>

{% endblock %}

