<html>
    <title>Calculating Impending Death</title>
    <h1>How Likely Will This Patient Die in the Next 72 Hours?</h1>
    <p><b><div style="color:red">Two tools for calculating impending mortality on metastatic cancer patients presenting to an acute palliative care unit. Based on the Investigating the Process of Dying study. Probably not valid for patients in different scenarios. </p></b></div>
    <ul>
    <li><a href="{{ url_for('recursive') }}">Recursive Model</a><br>A model using the Palliative Perfomance Score (PPS) and clinical signs created by Dr. Hui et al.  Best for patients with a pretest 72 hr mortality of 30-40%</li><br>
    <li><a href="{{ url_for('prepost') }}">Pretest Probability / Posttest Probability Calculator</a><br>This is a simple calculator that takes a pretest probability that you come up with and applies some of the positive and negative likelihood ratios found in the Investigating the Process of Dying study.</li><br>
    <li><a href="{{ url_for('multi') }}"> Multiprognosis Calculator</a><br>This is under construction.  This is a combined longer term prognostic calculator for patients with advanced cancer that incorporates the PPI, PaP, D-PaP and eventually others</li>
    </ul>

Any questions, comments, etc... please email me at jpmax7 AT gmail dot com
</html>
