body        {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.2;
}
td#t1       {
    text-align:left;

}
td#t2       {
    text-align:right
} 
table#summary    {
    border: 1px solid black;
    font-size:1em;
    border-collapse: collapse;
    text-align:left;
}

#summary td      {
    border: 1px solid black;
    border-collapse: collapse;
}

#summary th      {
    border: 1px solid black;
    border-collapse: collapse;
}

#summary tr:nth-child(even){background-color: #D4EFDF;}

table#details   {
    border: 1px solid black;
    font-size:1em;
    border-collapse: collapse;
    text-align:left;
}

#details tr:nth-child(even){background-color: #D4EFDF;}
    
#details td     {
    border: 1px solid black;
    border-collapse: collapse;
}

#details th      {
    border: 1px solid black;
    border-collapse: collapse;
}


table#reference {
    border: 1px solid black;
    font-size:0.8em;
    border-collapse: collapse;
}

#reference td   {
    border-bottom: 1px solid #000000;
}
#reference th   {
border-bottom: 1px solid #000000;
}

#reference tr:nth-child(even){background-color: #D4EFDF;}

.page       {
    margin: 1em auto;
    width: 60em;
    border: 5px solid #145A32;
    border-radius: 10px;
    padding: 0.8em;
    background: #e9f7ef;
}
.metanav    {
    text-align: right;
    border-radius: 5px; 
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #52BE80;
}

.error      {
    background: #FF0000;
    padding: 0.5em;
    text-align: center;
}
.field {
    width: 10em;
    overflow: hidden;
       
}

.footer     {
    margin: 0 auto;
    text-align: center;
}

.footer a   {
    margin: 20px 0;
    padding: 10px;
}


         
