{% extends "layout.html" %}
{% block body %}
<div class=subtitle><b>About the Website, FAQ, and Contact Information</b></div>
<br>
<div class=maininput>
<b>About:</b>
<p>Created by JP Maxwell MD a Hospitalist with Swedish Medical Center in Seattle, Washington and David Hui MD, MSc an Associate Professor of Oncology and Palliative Care at MD Anderson in Houston, Texas.</p>
<p>This is a non-profit endeavor to promote the use of validated prognostic scores to help predict survival more accurately. It is a calculator only and no information is being saved or stored. This work is not endorsed by nor affiliated with our respective employers. If you have any questions about how it works feel free to look at the source code that is linked below. It is open licensed and thus free to build upon or reuse if you wish.</p>
<p><b>FAQ:</b></p>
<p>Q: Why don't you include prognostic model X, Y or Z?</p>
<p>A: There are a lot of prognostic models out there and more are being developed all the time. If you have any suggestions about other prognostic models please email us!</p>
<p>Q: Where was the background picture taken?</p>
<p>A: This was taken on a hike in the foothills surrounding the Yakima Valley in the fall after some rain.</p></div>

<div class=container1 style="font-size:1.1em">
<b>We are continually refining the website based on our own use and feedback from other providers so if you have a suggestions, notice an error or have a criticism please don't hesitate to email us:</b>

    <br><br><img src="/static/img/jpeml.png" class="eml" alt="jpeml">
    <br><img src="/static/img/dhuieml.png" class="eml" alt="dheml">

</div>
{% endblock %}
